body {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0;
}
h1 {
  text-align: center;
  line-height: 100px;
}
h1 > span {
  font-size: 14px;
}

footer {
  margin: 50px 0;
}
footer > p,
footer > a {
  text-align: center;
}
